td {
  text-align: center;
}
table {
  border:0;
  border-collapse:separate;
  border-spacing:0 5px;
}
thead tr th{
  border-bottom: 3px solid gray;
  border-collapse:separate;
  border-spacing:5px 5px;
}
table th,
table td {
  width: 100px;
}
label,a,button{
  display:block;
}
textarea{
  width: 300px;
  height: 150px;
}
input[type="radio"]{
  margin-left: 20px;
  margin-right: 5px;
}
